body {
  background-color: rgb(177, 197, 233);
  display: flex;
}

.content {
  background-image: url("img/textbcg.avif");
  height: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 900px;  
}

.text {
  background-image: url("img/contanerbcg.avif");
  background-size: cover;
  background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.chat {
  background-color: azure;
  box-sizing: border-box;
  display: block;
  height: 360px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  width: 290px;

  .ventana-de-chat {
    background-color: rgb(246, 250, 250);
    height: 330px;
    width: 240px;
  }
}

.inputs {
  bottom: 10px;
  display: inline-block;
  position: absolute;
} 

#send{
  background-color: rgb(77, 121, 241);
  border: none;
  border-radius: 50px;
  #img {
    display: flex;
    height: 15px;
    justify-content: center;
    width: 12px;
  }
}
 